body{
	background: url("pic.1.jpg");
	bac
}

.refrm{
	width: 500px;

	margin: 80px auto;
	padding: 10px 20px 30px;
	background-color: rgba(0, 0, 0, 0.3);
	color:white;
	font-size: 30px;
	border-radius: 10px;
	border-all

}
/*WEBSITE COLOR palatte generator*/
.refrm h1{
	text-align: center;
	color: #D3B8C2;
}
.refrm .txtl{
	display:block;
}
.input input{
	width: 100%;
	font-size: 1.2em;
	border: 1px solid black;
	box-shadow: 2px;
	border-radius: 8px;
	padding: 10px 10px;
	box-sizing: border-box;
	margin:5px 10px 15px;
}
input foucus{
	background-color:#F1E6DB ;
}
.btn{
	text-align: center;
}
button{
	background-color:#785260 ;
	font-size: 30px;
	color: white;
	margin-top: 20px;
	padding:1`5px 25px;
	border-radius: 8px;
	border-color: white;
	box-shadow:2px;
}
.radio input{
	accent-color: #785260;
	transform: scale(1.5);
}
